/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('back.jpg');
    background-size: cover;
    margin: 0;
}

header {
    text-align: center;
    color: white;
    padding: 40px 0;
}

h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#chart-container {
    width: 100%;
    padding: 20px;
}

#chart {
    width: 100%;
    margin-left: -250px; /* Adjust the margin as needed to move the map to the right */
}

.legend rect {
    fill: url(#colorGradient);
    stroke: none;
}

.legend {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.legend text {
    display: block;
    font-size: 14px; /* Adjust font size as needed */
    color: #000; /* Text color */
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
}

#chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tooltip {
    font-size: 16px;
    max-width: 200px;
}

.tooltip-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}
